.App {
  text-align: center;
    padding:20px;
    background-color: gold;
    width: 60vw;
    left: 20vw;
    height: 80vh;
    position: absolute;
    top: 5vh;
}


.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
